{% extends "base.njk.html" %}

{% block header %}
<div class="jumbotron-subpage jumbotron">
  <div class="container">
    <h2>Community Choice Electricity Boston - Toolkit</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container resources">
    <h3>Handouts</h3>
    <div class="row">
        {% for a in handouts %}
        <div class="col-sm-4 vert-spacer-bottom">
            <a href="{{ a.href }}">
                <div class="center-icon">
                <i class="fa fa-file-text-o fa-5x"></i>
                </div>
                <h4 class="text-center">{{ a.title }}</h4>
            </a>
            <p class="text-muted">{{ a.description }}</p>
        </div>
        {% endfor %}
    </div>

    <h3>Logos</h3>
    <div class="row">
        {% for a in logos %}
        <div class="col-sm-4 vert-spacer-bottom">
            <a href="{{ a.href }}">
                <div class="center-icon">
                <i class="fa fa-file-zip-o fa-5x"></i>
                </div>
                <h4 class="text-center">{{ a.title }}</h4>
            </a>
        </div>
        {% endfor %}
    </div>

    <h3>Call-in Template</h3>
    <div class="row vert-space-bottom">
        <div class="col-sm-12">
            <div class="well">
                {{ call_in_guide | safe }}
            </div>
        </div>
    </div>

    <h3 id="councilors">City Councilors Contact Info</h3>
    <div class="text-center text-muted">
        <h4>At Large Councilors</h4>
    </div>
    <div class="row vert-spacer-bottom">
        {% for c in councilors.at_large %}
        <div class="col-sm-4">
            <h4>{{ c.name }}<h4>
            <h5 class="text-muted">{{ c.role }}</h5>
            <p>{{ c.number }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="text-center text-muted">
        <h4>District Councilors</h4>
    </div>
    <div class="row vert-spacer-bottom">
        {% for c in councilors.district %}
        <div class="col-sm-4">
            <h4>{{ c.name }}<h4>
            <h5 class="text-muted">{{ c.role }}</h5>
            <p>{{ c.number }}</p>
        </div>
        {% endfor %}

    </div>

    <h3>Mayor's Office</h3>
     <div class="row vert-spacer-bottom">
        <div class="col-sm-4">
            <h4>{{ mayor.name }}</h4>
            <p>{{ mayor.number }}</p>
        </div>
    </div>

</div>
{% endblock %}
