{% extends "base.njk.html" %}

{% block header %}
<div class="jumbotron-subpage jumbotron">
  <div class="container">
    <h2>Community Choice Energy Boston - Endorsements</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

<h2 class="text-center">Community Leaders</h2>
{% set endorsements = people %}
{% include "common/endorsements.njk.html" %}

<h2 class="text-center">Organizations</h2>
{% set endorsements = organizations %}
{% include "common/endorsements.njk.html" %}

</div>
{% endblock %}
