body {
    font-family: 'Libre Franklin', sans-serif;
}

#map {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 375px;
    width: 615px;
}

#legend {
    margin-top: -100px;
}

.town {
    fill: #fff;
    stroke: gray;
}

.town:hover {
    fill: yellow;
}

.town-green {
    fill: #8BB381;
}

.town-dark-green {
    fill: green;
}

.town-gray {
    fill: #cfcfcf;
}

.town-orange {
    fill: orange;
}

.jumbotron-main {
    height: 450px;
}

.jumbotron-subpage {
    height: 250px;
}

.jumbotron {
    color: #fff;
    background-color: #333;
    text-shadow: #444 0 1px 1px;
    background-image: url("/img/hero.jpg");
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    top:0;
    left:0;
}

.jumbotron h1,h2 {
    text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
    font-weight: bold;
}

.jumbotron p .btn {
    margin-top: 70px;
}

.green-info {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
    margin-bottom: 30px;
}

.margin-sides {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-sides div div h4 {
    text-align: center;
}

.get-involved .action {
    margin-bottom: 30px;
}

.get-involved .action p {
    margin-top: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .green-info {
        border-radius: 4px;
        padding: 25px;
        box-shadow: none;
        margin-bottom: 0;
    }
    .margin-sides {
        margin-left: auto;
        margin-right: auto;
    }
    .margin-sides div div h4 {
        text-align: left;
    }
}

.faq h4 {
    padding-top: 30px;
}

.card {
    background-color: #fff;
    padding: 0 20px 15px 20px;
    border-radius: 4px;
}

.bg-section {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}

.section {
    margin-bottom: 50px;
}

.section h2 {
    text-align: center;
    margin-top: 20px;
}
.section h4.section-subtitle {
    color: #666;
    text-align: center;
    margin-bottom: 40px;
}

.small-padding {
    margin: 2px;
}

.vert-spacer {
    margin-top: 60px;
    margin-bottom: 60px;
}

.vert-spacer-top {
    margin-top: 60px;
}

.vert-padding-top-small {
    padding-top: 20px;
}

.vert-spacer-bottom {
    margin-bottom: 30px;
}

.section .lead {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 10px;
}

.get-involved h4 {
    text-align: center;
}

.section h5 {
    margin-top: 30px;
}

.petition {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
}

footer {
    margin-top: 10px;
}

