<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="name_first">First Name *</label>
      <input type="text" class="form-control" name="name_first" placeholder="Your first name" required>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="name_last">Last Name *</label>
      <input type="text" class="form-control" name="name_last" placeholder="Your last name" required>
    </div>
  </div>
</div>


<div class="form-group">
  <label for="email">Email address *</label>
  <input type="email" class="form-control" name="email" placeholder="Email" required>
</div>


<div class="form-group">
  <label for="zip">Zip Code *</label>
  <input type="text" class="form-control" name="zip" required>
</div>


<hr />


<div class="form-group">
  <label for="phone">Phone number</label>
  <input type="text" class="form-control" name="phone" placeholder="Phone number">
</div>


<div class="form-group">
  <label for="address1">Street Address</label>
  <input type="text" class="form-control" name="address1" placeholder="Your street address">
</div>


<div class="form-group">
    <input type="text" class="form-control" name="address2" placeholder="Apt #, etc.">
</div>

<div class="form-group">
  <input type="text" class="form-control" name="city" placeholder="City (no state)">
</div>

<div class="form-group">
  <div class="radio">
    <label>
      <input type="radio" name="contact-pref" value="all" checked>
        Contact me about Community Choice Energy and future campaigns
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="contact-pref" value="cce-only">
      Only contact me about Community Choice Energy
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="contact-pref" value="none">
        Use my info for the petition, but please do not contact me.
    </label>
  </div>
</div>


<p><strong>We respect your right to privacy and promise
to be secure and responsible with your information.</strong></p>


<div id="petition-message"></div>


<div class="text-center">
  <button id="submit-petition" type="submit" class="btn btn-success">Sign the Petition</button>
</div>

