<div class="row get-involved">
    <div class="action petition-scroll-target col-sm-12">
        <h4><strong>1.</strong> Get the Latest Updates</h4>
        <p><a href="#petition" id="sign-lower">Subscribe to our newsletter</a>
            to get all the updates to the campaign to implement CCE in
            Boston and find out about events so you can show your support.</p>
    </div>

    <div class="action col-sm-6">
        <h4><strong>2.</strong> Share with Friends and Family</h4>
        <div class="row">
            <div class="col-sm-2 hidden-xs"></div>
            <div class="text-center col-xs-12 col-sm-4">
                <a id="share-fb" class="btn btn-primary small-padding">
                    <i class="fa fa-facebook"></i> facebook
                </a>
            </div>
            <div class="text-center col-xs-12 col-sm-4">
                <a class="btn btn-info small-padding"
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=I%20support%20Community%20Choice%20for%20Boston!%20https://www.communitychoiceboston.org/">
                    <i class="fa fa-twitter"></i> twitter
                </a>
            </div>
            <div class="col-sm-2 hidden-xs"></div>
        </div>
        <p>Help us get the word out - share this page with your contacts to
        generate support.</p>
    </div>

    <div class="action col-sm-6">
        <h4><strong>3.</strong> Join the Movement</h4>

        <p>Follow us <a href="https://facebook.com/BostonCAN">Facebook</a> to
        find out more about events and how you can get involved in the fight
        against climate change right here in Boston.</a></p>

        <p><a href="mailto:bostonclimateaction@gmail.com?subject=Getting Involved with CCE">Contact us</a> to find out how else you can get involved!</p>
    </div>
</div>
