<div class="row get-involved">
    <div class="action petition-scroll-target col-sm-12">
        <h4><strong>1.</strong> Make your voice heard</h4>
        <p>Sign our petition and tell your elected officials you support
           reducing Boston's greenhouse gas emissions through
           Community Choice Energy.</p>

        <div class="row">
          <div class="col-sm-6">
            <h5 class="text-center"><strong>The Petition</strong></h5>
            {{ petition_body | safe }}
          </div>
          <div class="col-sm-6" class="petition-wrapper">
            <form id="petition" class="well"></form>
          </div>
        </div>
    </div>

    <div class="action col-sm-6">
        <h4><strong>2.</strong> Call your City Councilors</h4>
        <p>Call your city councilors (both for your district and the at-large councilors) to support the Community Choice Energy proposal sponsored by Councilors Wu and O’Malley.  Tell them you support the increasing renewable energy through municipal aggregation as part of Boston’s climate policy.</p>
        <p><a href="http://hq-salsa.wiredforchange.com/o/5950/getLocal.jsp">Check out this resource if you’re not sure who your city councilors are.</a>  Just enter your zip code and scroll down to the “Local Representatives” section.</p>

        <p>Calling is the best way to show your support – more than email or social media.  You’re letting them know you want to see them take action on climate change and that people in their districts are worried about it.</p>
    </div>

    <div class="action col-sm-6">
        <h4><strong>3.</strong> Share with Friends and Family</h4>
        <div class="row">
            <div class="col-sm-2 hidden-xs"></div>
            <div class="text-center col-xs-12 col-sm-4">
                <a id="share-fb" class="btn btn-primary small-padding">
                    <i class="fa fa-facebook"></i> facebook
                </a>
            </div>
            <div class="text-center col-xs-12 col-sm-4">
                <a class="btn btn-info small-padding"
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=I%20support%20Community%20Choice%20for%20Boston!%20https://www.communitychoiceboston.org/">
                    <i class="fa fa-twitter"></i> twitter
                </a>
            </div>
            <div class="col-sm-2 hidden-xs"></div>
        </div>
        <p>Help us get the word out - share this page with your contacts to
        generate support.</p>

        <p>Follow us <a href="https://facebook.com/BostonCAN">Facebook</a> to
        find out more about events and how you can get involved in the fight
        against climate change right here in Boston.</a>
    </div>
</div>
