{% extends "base.njk.html" %}

{% block header %}
    <div class="jumbotron-main jumbotron">
      <div class="container">
        <h1>Community Choice Energy Boston</h1>
        <p class="lead hidden-sm">{{ lead }}</p>
        <p><a id="sign" class="btn btn-lg btn-success" href="#" role="button">
            Sign the Petition</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container section">
        <div class="visible-sm-inline text-center">
            <h4 class="vert-spacer-bottom">{{ lead }}</h4>
        </div>
        <div class="row">
            <div class="col-sm-5 green-info bg-success check-list">
            {% for leader in leaders %}
            <p>
                <span class="fa-stack">
                  <i class="fa fa-circle text-success fa-stack-2x"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span> {{ leader }}</p>
            {% endfor %}
            </div>
            <div class="col-sm-7">{{ leader_text | safe }}</div>
        </div>
    </div>

    <div class="container section">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ embed_video_link }}" allowfullscreen></iframe></center>
        </div>
    </div>

    <div class="section bg-section bg-success">
        <div class="margin-sides container">
            <div class="row card vert-padding-top-small">
                <div id="next-event"></div>
                <div>
                    <div class="col-sm-4 cce-poster">
                        <a href="http://bostoncan.org">
                            <img class="center-block" style="max-width: 100%" alt="Boston wants Community Choice Energy" src="/img/poster-thumb.jpg"/>
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div id="news">
                            <h4 class="text-center">CCE in the News</h4>
                            {% for n in news %}
                            <h5>
                                <strong><a href="{{n.link}}">{{n.title}}</a></strong>
                            </h5>
                            <p class="text-muted">{{n.when}}<p>
                            {% endfor %}
                        </div>
                        <div id="posts"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <h2>Let's Join the Massachusetts Movement</h2>
        <h4 class="section-subtitle">Dozens of towns across the state are using Community Choice to go green!</h4>
        {% include "home/partials/map.njk.html" %}
    </div>

    <div class="section bg-section bg-success">
        <div class="container">
          {% for media in media_bullets %}
          <div class="media">
            <div class="media-left hidden-xs">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle text-success fa-stack-2x"></i>
                  <i class="fa {{ media.icon }} fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="media-body card">
                <h3>
                    <i class="visible-xs-inline fa {{ media.icon }}"></i>
                    {{ media.title }}
                </h3>
                {{ media.content | safe }}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>Endorsements</h2>
            <h4 class="section-subtitle">Organizations, Activist Groups, Officials, and Businesses are all getting on board.</h4>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ primary.link }}">
                    <img class="img-circle center-block" src="/img/endorsements/{{ primary.image }}" alt="" width="280" height="280">
                    </a>
                </div>
                <div class="col-sm-6">
                  <h3 class="text-center">{{ primary.name | safe }}</h3>
                  {% if primary.title %}
                     <h4 class="text-center">{{ primary.title | safe }}</h4>
                  {% endif %}
                  <p class="text-muted">{{ primary.text | safe }}</p>
                </div>
            </div>
            <div class="vert-spacer"><hr/></div>
            {% include "common/endorsements.njk.html" %}
            <p class="text-center"><a href="/endorsements.html" class="btn btn-success">See Everyone</a></p>
        </div>
    </div>

    <div class="section bg-section bg-success">
      <div class="container">
        <div class="card faq">
            {% for q in faqs %}
                <h4>{{ q.question }}</h4>
                {{ q.answer | safe }}
            {% endfor %}
            <p class="vert-spacer-top text-center"><a href="/faq.html" class="btn btn-success">Read More</a></p>
          </div>
        </div>
    </div>

    <div class="section" id="join">
        <div class="container">
            <h2>Three Ways To Join the Movement</h2>
            <h4 class="section-subtitle">Join the movement. Band together to save the planet from warming.</h4>
            {% include "home/partials/get-involved.njk.html" %}
        </div>
        <div class="container vert-spacer-top">
          <div class="row">
            <div class="col-sm-6">
              {{ funded_by | safe }}
            </div>
            <div class="col-sm-6 center-block">
              <img src="/img/negef.png" />
            </div>
          </div>
        </div>
    </div>
{% endblock %}
