{% extends "base.njk.html" %}

{% block header %}
    <div class="jumbotron-main jumbotron">
      <div class="container">
        <img class="center-block" src="/img/cce.png">
        <p class="lead hidden-sm">{{ lead }}</p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container section">
        <div class="visible-sm-inline text-center">
            <h4 class="vert-spacer-bottom">{{ lead }}</h4>
        </div>
        <div class="vert-spacer-bottom">
            {{ leader_text | safe }}
        </div>
        <div class="text-center">
            <a
                href="https://www.boston.gov/departments/environment/community-choice-electricity"
                class="btn btn-success btn-lg">
                Learn More on the City's Website
            </a>
        </div>
        <div class="vert-spacer-top">
            {{ follow_text | safe }}
        </div>
        <div class="petition-wrapper">
            <div id='can-form-area-sign-up-for-our-newsletter-38' style='width: 100%'></div>
        </div>
    </div>

    <div class="section bg-section bg-success">
        <div class="container">
          {% for media in media_bullets %}
          <div class="media">
            <div class="media-left hidden-xs">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle text-success fa-stack-2x"></i>
                  <i class="fa {{ media.icon }} fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="media-body card">
                <h3>
                    <i class="visible-xs-inline fa {{ media.icon }}"></i>
                    {{ media.title }}
                </h3>
                {{ media.content | safe }}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="vert-spacer-bottom">
                <h2>Thank You</h2>
                <h4 class="section-subtitle">To all the organizations, activist groups, officials, and businesses who helped make this happen, not all of whom are listed here.</h4>
            </div>
            <h2 class="text-center vert-spacer-top vert-spacer-bottom">Community Leaders</h2>
            {% set endorsements = people %}
            {% include "common/endorsements.njk.html" %}

            <h2 class="text-center vert-spacer-top vert-spacer-bottom">Organizations</h2>
            {% set endorsements = organizations %}
            {% include "common/endorsements.njk.html" %}

            <h2 class="text-center vert-spacer-top vert-spacer-bottom">Officials</h2>
            {% set endorsements = officials %}
            {% include "common/endorsements.njk.html" %}


        </div>
    </div>
{% endblock %}
