{% extends "base.njk.html" %}

{% block header %}
    <div class="jumbotron">
      <div class="container">
        <h1>Community Choice Energy for Boston</h1>
        <p class="lead"></p>
        <p><a id="sign" class="btn btn-lg btn-success" href="#" role="button">
            Sign the Petition</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container section">
        <div class="row">
            <div class="col-sm-5 green-info bg-success check-list">
            {% for leader in leaders %}
            <p>
                <span class="fa-stack">
                  <i class="fa fa-circle text-success fa-stack-2x"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span> {{ leader }}</p>
            {% endfor %}
            </div>
            <div class="col-sm-7">{{ leader_text | safe }}</div>
        </div>
    </div>

    <div class="section bg-section bg-success">
        <div class="margin-sides container">
            <div id="next-event" class="row card vert-padding-top-small">
            </div>
        </div>
    </div>

    <div class="container section">
        {% include "home/partials/map.njk.html" %}
    </div>

    <div class="section bg-section bg-success">
        <div class="container">
          {% for media in media_bullets %}
          <div class="media">
            <div class="media-left hidden-xs">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle text-success fa-stack-2x"></i>
                  <i class="fa {{ media.icon }} fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="media-body card">
                <h3>
                    <i class="visible-xs-inline fa {{ media.icon }}"></i>
                    {{ media.title }}
                </h3>
                {{ media.content | safe }}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <div class="section">
        <div class="container">
            {% include "common/endorsements.njk.html" %}
            <p class="text-center"><a href="/endorsements/" class="btn btn-default">See All Endorsements</a></p>
        </div>
    </div>

    <div class="section bg-section bg-success">
      <div class="container">
        <div class="card faq">
            {% for q in faqs %}
                <h4>{{ q.question }}</h4>
                {{ q.answer | safe }}
            {% endfor %}
            <p class="vert-spacer-top text-center"><a href="/faq/" class="btn btn-default">Read More</a></p>
          </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            {% include "home/partials/signup.njk.html" %}
        </div>
    </div>
{% endblock %}
